/*NAVBAR*/

nav{
    background-color: lightskyblue;
    color: #A66D58;
    font-weight: bold;
    width: 100%;
}
.logo{
    height: 50px;
}
.dropdown-menu{
    background-color: #BFAAA3;
}
.navbar{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.navbar-nav{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
.nav-item{
    display: flex;
    margin: 0 10px 0 10px;
    width: 150px;
    height: 54px;
    align-items: center;
    justify-content: center;
}


.nav-item:hover{

    background-color: lightblue;
}
.nav-item a{
    text-decoration: none;

}

.navbar-collapse{
    flex-grow: 0;
}



.cartIcon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cartIcon svg{
    width: 100%;
    position: relative;
    top: 12px;
}

/*************CART***************/
.cartItems{
    position: relative;
    top: -4px;
    left: 10px;
    z-index: 100;
    color: black;
    background-color: white;
    border-radius: 100%;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 19px;
  
}

.cartMessage{
    margin-top: 40px;
}

.cartItemBox{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    -webkit-box-shadow: 3px 5px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 5px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 5px 8px 0px rgba(0,0,0,0.75);
    margin-top: 20px;
    min-width: 580px;
}
.cardPlayerName{
    text-decoration: none;
}
.cartItemBox h3{
    padding-left: 15px;
    text-align: justify;

}
.cartItemBoxContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px 20px 20px;
    
}
.cartItemDescription{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*************HOME***************/
.Home h1{
    margin-top: 50px;
}


.cardContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px;
    transition: 0.4s;
}
.card:hover{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.card{
    width: 300px;
    margin: 10px 10px 0 10px;
}

.card img{
    height: 300px;
    
}

.loadingIcon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.countInput{
    width: 60px;
    height: 30px;
    text-align: center;
}

.buyButtonBox{
    margin-top: 30px;
}
.MuiButton-containedSizeLarge{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}


.makeStyles-media-2{
    padding: 0% !important;
}   
.playerNameCart{
    display: inline-block;
    width: 200px;
}
.playerImageCart{
    height: 200px;
    width: 200px;
}
.playerPositionCart{
    display: inline-block;
}
.playerPriceCart{
    display: inline-block;
}
.itemDetailImage{
    height: 400px;
    width: 400px;
}

.emptyCartAlert{
    margin: 25px 0 50px 0;
}

.cartReturnBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
}
.playerCartBox{
    display: flex;
    flex-direction: row;
}

.buyerBox{
    margin-top: 30px;
    padding: 25px 10px 10px 10px ;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    background-color: lightblue;
    width: 900px;
}
.buyButton{
    margin-top: 50px;
}


/***Mini cart****/
.miniCartBox{
    display: none;
    width: 300px;
    position: absolute;
    top: 50px;
    background-color: lightgray;
}
.miniCart{
    overflow: auto;
    max-height: 380px;
}

::-webkit-scrollbar {
    width: 20px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color:darkslateblue;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }
  

.playerImageMiniCart{
    height: 70px;
}

.cartIcon:hover .miniCartBox{
    display: block;
}

.miniCartItemBox{
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.clearCart{
    box-shadow: 0 -4px 12px 0px rgba(51,51,51,.16);
    display: inline-block;
    width: 300px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    color: darkslateblue;
    background-color: whitesmoke;
    border-bottom: 1px solid rgba(0,0,0,.1);
}


/*REGISTRACIÓN DE JUGADORES*/

.addPlayerBox{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.addPlayerBox div{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    
}


/********MOBILE VERSION************/

@media only screen and (max-width: 500px){
*{
    margin: 0;
    padding: 0;
}
    html{
    font-size: 1rem;
    min-width: 100%;
}
body{
    width: 100%;
}
    /*NAVBAR*/

nav{
    background-color: lightskyblue;
    color: #A66D58;
    font-weight: bold;
    width: 100%;
}
.logo{
    height: 50px;
}
.dropdown-menu{
    background-color: #BFAAA3;
}
.navbar{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}
.navbar-nav{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
.nav-item{
    display: flex;
    margin: 0 10px 0 10px;
    width: 150px;
    height: 54px;
    align-items: center;
    justify-content: center;
}


.nav-item:hover{

    background-color: lightblue;
}
.nav-item a{
    text-decoration: none;

}

.navbar-collapse{
    flex-grow: 0;
}



.cartIcon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cartIcon svg{
    width: 100%;
    position: relative;
    top: 12px;
}

/*************CART***************/
.cartItems{
    position: relative;
    top: -4px;
    left: 10px;
    z-index: 100;
    color: black;
    background-color: white;
    border-radius: 100%;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 19px;
  
}

.cartMessage{
    margin-top: 40px;
}

.cartItemBox{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    -webkit-box-shadow: 3px 5px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 5px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 5px 8px 0px rgba(0,0,0,0.75);
    margin-top: 20px;
    min-width: 580px;
}
.cardPlayerName{
    text-decoration: none;
}
.cartItemBox h3{
    padding-left: 15px;
    text-align: justify;

}
.cartItemBoxContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px 20px 20px;
    
}
.cartItemDescription{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*************HOME***************/
.Home h1{
    margin-top: 50px;
}


.cardContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px;
    transition: 0.4s;
}
.card:hover{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.card{
    width: 300px;
    margin: 10px 10px 0 10px;
}

.card img{
    height: 300px;
    
}

.loadingIcon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.countInput{
    width: 60px;
    height: 30px;
    text-align: center;
}

.buyButtonBox{
    margin-top: 30px;
}
.MuiButton-containedSizeLarge{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}


.makeStyles-media-2{
    padding: 0% !important;
}   
.playerNameCart{
    display: inline-block;
    width: 200px;
}
.playerImageCart{
    height: 200px;
    width: 200px;
}
.playerPositionCart{
    display: inline-block;
}
.playerPriceCart{
    display: inline-block;
}
.itemDetailImage{
    height: 400px;
    width: 400px;
}
.itemDetailBio{
    width: 200px;
}

.emptyCartAlert{
    margin: 25px 0 50px 0;
}

.cartReturnBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
}
.playerCartBox{
    display: flex;
    flex-direction: row;
}

.buyerBox{
    margin-top: 30px;
    padding: 25px 10px 10px 10px ;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    background-color: lightblue;
    width: 900px;
}
.buyButton{
    margin-top: 50px;
}


/***Mini cart****/
.miniCartBox{
    display: none;
    width: 300px;
    position: absolute;
    top: 50px;
    background-color: lightgray;
}
.miniCart{
    overflow: auto;
    max-height: 380px;
}

::-webkit-scrollbar {
    width: 20px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color:darkslateblue;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }
  

.playerImageMiniCart{
    height: 70px;
}

.cartIcon:hover .miniCartBox{
    display: block;
}

.miniCartItemBox{
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.clearCart{
    box-shadow: 0 -4px 12px 0px rgba(51,51,51,.16);
    display: inline-block;
    width: 300px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    color: darkslateblue;
    background-color: whitesmoke;
    border-bottom: 1px solid rgba(0,0,0,.1);
}


/*REGISTRACIÓN DE JUGADORES*/

.addPlayerBox{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.addPlayerBox div{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    
}


}
